/* APPLY DAFULT FONT-SIZE FOR A DIFFERENT VIEWPORT */

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% 

    @include media(tablet) {
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include media(phone) {
        
        font-size: 36.25%; //1 rem = 9px, 9/16 = 50%
    } 


}

body {
   background-color: $color-background-primary;

}
