


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.7;
  
}